# Source file that should be watched (in the docker container)
SOURCE_FILE=/backup/dump.data

# Filename on nextcloud. The filename will generated with date & time
# like this 2022-04-02_120059-<DEST_FILE>
DEST_FILE=dump.data

# Compress the source file. This will add .tar.gz to the destination file
#DEST_FILE_TAR=true

# Uncomment to overwrite the uploaded file
# the filename will be without date & time
#NEXTCLOUD_UPLOAD_MODE=overwrite

# Nextcloud ShareId from the share link https://nextcloud.yourcompany.com/s/<NEXTCLOUD_USR>`
NEXTCLOUD_USR=jack
# Nextcloud Password
NEXTCLOUD_PWD=secret
# Your nextcloud instance
NEXTCLOUD_URL=https://<YOUR NEXTCLOUD INSTANCE>/public.php/webdav/