# Source file that should be watched (in the docker container)
SOURCE_FILE=/backup/dumb.data

# Filename on nextcloud. The filename will generated with date & time
# like this 2022-04-02_120059-<DEST_FILE>
DEST_FILE=dumb.data

# Nextcloud User or ShareId
NEXTCLOUD_USR=jack
# Nextcloud Password
NEXTCLOUD_PWD=secret
NEXTCLOUD_URL=https://nextcloud.yourcompany.com/public.php/webdav/